{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Referance</th>
                <td>{{ product.referance }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
               <td> <img src="{{ asset('images/' ~ product.image) }}" alt="Product Image" style="width:100px"></td>
                           </tr>
        </tbody>
    </table>

    <a href="{{ path('app_store') }}" class="btn btn-info" >Back to list</a>
    

    
{% endblock %}
